// YOU'LL NEED THIS IN VIEW
// 	<Badge
//   badgeContent={
//     item.analytes.length
//   }
//   color="secondary"
//   anchorOrigin={{
//     vertical: "top",
//     horizontal: "right"
//   }}
//   className="badge-small"
// >

// {item}

// </Badge>

.badge {
  margin: 0 12px;

  &:hover span {
    background-color: $color-indicator !important;
    transform: scale(1.2);
    transform-origin: -50px 50px !important;
  }

  a {
    i {
      font-size: $type-md;
      color: $color-white;
      transition: $transition-color;
      // transform: scale(1);
      // transition: $transition-scale;
    }

    &:hover {
      i {
        color: $color-white;
        transition: $transition-color;
        // transform: scale(1.1);
        // transition: $transition-scale;
      }
    }
  }

  .MuiBadge-badge {
    background-color: $color-indicator !important;
    color: $color-indicator-text !important;
    font-size: $type-default !important;
    height: 13px !important;
    align-items: center;
    min-width: 12px !important;
    transform-origin: -50px 50px !important;
    border-radius: $radius-default !important;
  }

  &-small {
    @extend .badge;
    margin: 0 !important;

    .MuiBadge-badge {
      width: 65px;
      font-size: $type-note !important;
      color: transparent !important;
      background-color: transparent !important;
      align-items: center;
      border-radius: $radius-slight !important;
      transform: scale(1) !important;
    }

    &:hover {
      .MuiBadge-badge {
        color: $color-red !important;
        background-color: $color-gray-light !important;
        font-size: $type-note !important;
        flex-wrap: nowrap !important;
        transform: scale(1.1) !important;

        &:after {
          content: " analytes";
          font-size: $type-note !important;
          white-space: pre;
        }
      }
    }
  }

  &-new {
    .MuiBadge-badge {
      @extend .badge;
      margin: -14px -24px 0 0;
      background-color: $color-blue-medium !important;
      border-radius: $radius-slight !important;
      color: $color-white !important;
      font-size: $type-teeny !important;
      flex-wrap: nowrap !important;
      transform: scale(1) !important;
      padding: 0 !important;
    }

    &:hover {
      .MuiBadge-badge {
        @extend .badge;
        margin: -14px -24px 0 0;
        background-color: $color-blue-medium !important;
        color: $color-white !important;
        font-size: $type-teeny !important;
        flex-wrap: nowrap !important;
        transform: scale(1) !important;
      }
    }
  }

  &-alert {
    @extend .badge-small;
    margin: 0 !important;

    .MuiBadge-badge {
      color: $color-white !important;
      width: auto !important;
      background-color: $color-red !important;
      font-size: $type-note !important;
      flex-wrap: nowrap !important;
      transform: scale(1.1) !important;

      &:after {
        content: "";
        font-size: $type-note !important;
        white-space: pre;
      }
    }
  }

  &-menu {
    display: inline-flex;
    background: $color-red-default;
    color: $color-white;

    // ALT VERSION
    // text-align: center;
    // justify-content: center;
    // margin: 0 4px;
    // font-size: $type-xxs;
    // width: 22px;
    // line-height: 22px;
    // border-radius: 50%;

    line-height: $type-xxs;
    font-size: $type-tiny;
    margin: 0 4px 0 4px;
    border-radius: 2px;
    padding: 1px 4px;
    text-align: center;
    justify-content: center;

    i {
      font-size: $type-teeny !important;
      color: $color-white !important;
    }
  }
}
