.fade-in {
  opacity: 0;
  animation: fadeIn ease-in 0.4s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-out {
  opacity: 1;
  animation: fadeOut ease-in .4s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.spinner {
  animation: rotator 0.5s infinite linear;
  transform-origin: center center;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pulse {
  animation-name: pulse;
  animation-duration: .5s;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-play-state: inherit;
}


.pulse-fast {
  animation-name: pulse;
  animation-duration: 0.1s;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-iteration-count: 3;
  animation-play-state: inherit;
}

.pulse-alert {
  animation-name: pulse-delay;
  animation-duration: 0.75s;
  animation-timing-function: ease-in-out;
  animation-direction: normal;
  animation-iteration-count: 5;
  animation-play-state: inherit;
  opacity: 1;
}

.pulse-slow {
  animation-name: pulse;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-play-state: inherit;
  opacity: 1;
}

.slide-right {
  animation-name: slideRight;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-left {
  animation-name: slideLeft;
  animation-duration: 0.4s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes slideLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(5px);
  }
}


.slide {
  animation-name: slide;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes slide {
  from {
    opacity: 0;
    margin-left: 10px;
  }
  to {
    opacity: 1;
    margin-left: 0;
  }
}

.nudge-right {
  animation-name: nudgeRight;
  animation-duration: 0.2s;
  animation-timing-function: ease-in;
  animation-fill-mode: backwards;
}

@keyframes nudgeRight {
  from {
    margin-left: -10px;
  }
  to {
    margin-left: 0;
  }
}

.nudge-left {
  animation-name: nudgeLeft;
  animation-duration: 0.2s;
  animation-timing-function: ease-in;
  animation-fill-mode: backwards;
}

@keyframes nudgeLeft {
  from {
    margin-right: -25px;
  }
  to {
    margin-right: -5px;
  }
}

@keyframes stripLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes black2blue {
  0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}

}
@keyframes blue2black {
  0% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}

}

@keyframes dark2light {
  0% {
    color: $color-gray-darker;
  }
  40% {
    color: $color-white;
    border-bottom-color: $color-white-half;
  }
  100% {
    color: $color-white;
    border-bottom-color: $color-white-half;
  }
}


@keyframes pulseAlert {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes pulse-delay {
  0% {
    opacity: 0.2;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes load{
  from {
    width: 0%
  }
}
@-webkit-keyframes load{
  from {
    width: 0%
  }
}
@-moz-keyframes load{
  from {
    width: 0%
  }
}
@-o-keyframes load{
  from {
    width: 0%
  }
}

.indicate {
	animation-name: indicate;
  animation-duration: 2s;
	animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes indicate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(12px);
  }
  100% {
    transform: translateY(0);
  }
}



.loader-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loader-ellipsis div {
  position: absolute;
  top: 96px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: $color-brand;
  animation-timing-function: cubic-bezier(0,1,1,0);
}
.loader-ellipsis div:nth-child(1) {
  left: 8px;
  animation: ellipsis1 0.6s infinite;
}
.loader-ellipsis div:nth-child(2) {
  left: 8px;
  animation: ellipsis2 0.6s infinite;
}
.loader-ellipsis div:nth-child(3) {
  left: 32px;
  animation: ellipsis2 0.6s infinite;
}
.loader-ellipsis div:nth-child(4) {
  left: 56px;
  animation: ellipsis3 0.6s infinite;
}
@keyframes ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@keyframes step1 {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1.2);
  }
}

@keyframes step2 {
  0% {
    opacity: 0;

  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;

  }
}
@keyframes step3-a {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(0);
  }
}
@keyframes step3-b {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(0);
  }
}

@keyframes step4 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes step5 {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.step1 {
  opacity: 0;
  animation-fill-mode: forwards;
  animation-name: step1;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-duration: 3s; 
}

.step2 {
  opacity: 0;
  transform-origin: center;
  animation-fill-mode: forwards;
  animation-name: step2;
  animation-timing-function: linear;
  animation-delay: 3s;
  animation-duration: 3s; 
}
.step3-a {
  opacity: 0;
  transform-origin: center;
  animation-fill-mode: forwards;
  animation-name: step3-a;
  animation-timing-function: ease-in-out;
  animation-delay: 5s;
  animation-duration: 5s; 
}
.step3-b {
  opacity: 0;
  transform-origin: center;
  animation-fill-mode: forwards;
  animation-name: step3-b;
  animation-timing-function: ease-in-out;
  animation-delay: 5.5s;
  animation-duration: 5.5s; 
}
.step4 {
  opacity: 0;
  animation-fill-mode: forwards;
  animation-name: step4;
  animation-timing-function: linear;
  animation-delay: 11s;
  animation-duration: 2s
}
.step5 {
  opacity: 0;
  animation-fill-mode: forwards;
  animation-name: step5;
  animation-timing-function: linear;
  animation-delay: 10s;
  animation-duration: 3s
}

