.heading {

  &-subscription {
    padding: 12px;
    color: $color-white;
    font-size: $type-sm;
    background: $color-brand;
  } 

  &-results {

    padding: 6px 0;
    margin: 24px 0 0 0;
    grid-column: 1 / -1;
    display: grid;
    grid-gap: 72px;
    grid-template-columns: repeat(3, auto) 1fr 1fr 1fr;

    label {
      color: $color-gray-dark;
      font-size: $type-teeny;
    }

    #analyte {
      color: $color-brand;
      font-size: $type-md;
      margin-bottom: 6px;
    }
    #subscription {
      color: $color-brand;
      font-size: $type-md;
      margin-bottom: 6px;
    }
    #subscription-alert {
      color: $color-red;
      font-size: $type-md;
      margin-bottom: 6px;
    }
    #instrument {
      color: $color-gray-dark;
      font-size: $type-md;
    }

  }

  &-title {
    display: flex;
    flex-direction: column;
    padding: 8px 0;

    .note {
      font-size: $type-xxs;
      color: $color-gray-darker;
      margin: 6px 0;

      span {
        background: $color-gray-darker;
        color: $color-white;
        padding: 2px 6px;
        margin: 0 4px;
      }
    }

    h1 {
      padding: 0;
      margin: 0;
      font-size: $type-h1;
      color: $color-gray-darker;

      span {
        font-weight: $regular;
        color: $color-gray-darker;
      }
      
    }

    h2 {
      padding: 0;
      margin: 0;
      font-size: $type-h2;
      color: $color-gray-darker;
      font-weight: $light;

      span {
        font-weight: $regular;
        color: $color-gray-darker;

      }
      
    }
    h3 {
      padding: 0;
      margin: 0;
      font-size: $type-h3;
      color: $color-gray-darker;
      font-weight: $regular;

      i {
        color: $color-brand-half;
        margin: 0 12px;
      }

      span {
        font-weight: $regular;
        color: $color-gray-darker;

      }
      
    }
  }

  &-box {
    padding: 24px;
    background: $color-gray-note;
    border-top: 1px solid $color-gray-half;

    h1 {
      padding: 0;
      margin: 0;
      font-size: $type-h1;
      color: $color-gray-darker;

          
    }

    h2 {
      padding: 0;
      margin: 0;
      font-size: $type-h2;
      color: $color-gray-darker;

      
    }
    h3 {
      padding: 0;
      margin: 0;
      font-size: $type-h3;
      color: $color-gray-darker;
      font-weight: $regular;

           
    }

    ul {
      list-style: none;
      padding: 0 !important;
      margin: 0 !important;
      
    }
    
    li {
      padding: 6px 0 !important;
      font-size: $type-xxs;
    }
       


  }
}
