.link,
a {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &-h1 {
    color: $color-blue;
    text-decoration: none;
    border-bottom: 1px solid $color-blue-light;
    display: inline-block;
    font-size: $type-lg !important;
    font-weight: $light;
    width: auto;
  }

  &-urgent {
    font-size: $type-tiny;
    color: $color-blue-default;
    border-bottom: 1px solid $color-blue-light;
    cursor: pointer;
  }

  &-show {
    color: $color-red-default;
    border-bottom: 1px solid $color-red-light;
    margin: 6px 0;
    font-weight: $bold;
    font-size: $type-default;
    cursor: pointer;
    transition: $transition-border, $transition-color;

    &:hover {
      color: $color-red;
      border-bottom: 1px solid $color-red-default;
      transition: $transition-border, $transition-color;
    }
  }

  &-hide {
    color: $color-blue-default;
    border-bottom: 1px solid $color-blue-light;
    margin: 6px 0;
    font-weight: $bold;
    font-size: $type-default;
    cursor: pointer;
    transition: $transition-border, $transition-color;

    &:hover {
      color: $color-blue;
      border-bottom: 1px solid $color-blue-default;
      transition: $transition-border, $transition-color;
    }
  }

  &-video {
    color: $color-blue-medium;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    font-size: $type-tiny;
    align-items: center;
    align-self: center;

    i {
      vertical-align: middle;
      font-size: $type-md;
    }
  }

  &-clear {
    font-size: $type-teeny;
    float: right;
    color: $color-gray-dark;
    border-bottom: 1px solid $color-gray-light;
    cursor: pointer;
    &:hover {
      color: $color-gray-darkest;
    }
  }

  &-org {
    color: $color-blue-default;
    font-size: $type-default;
    border-bottom: 1px solid $color-blue-light;
    cursor: pointer;
    transition: $transition-border, $transition-color;

    &:hover {
      border-bottom: 1px solid $color-blue-half;
      color: $color-blue;
      transition: $transition-border, $transition-color;
    }
  }

  &-list {
    padding: 0 !important;
    margin: 24px 0;
    text-decoration: none;
    font-size: $type-lg;
    font-weight: $regular;
    color: $color-gray-darkest;
    display: table;
    cursor: pointer;
    border-bottom: 1px solid transparent;

    span {
      display: inline-flex;
      margin: 3px 0;
      font-size: $type-xxs !important;
    }

    div {
      padding: 0;
      font-size: $type-md;
      margin: 0;
    }

    &:hover {
      border-bottom: 1px solid $color-gray;
    }
  }

  &-main {
    cursor: pointer !important;
    color: $color-blue-default;
    font-size: $type-lg;
    text-decoration: none;
    border-bottom: 1px solid $color-blue-light;
    width: 300px;
    font-weight: $regular;
    font-size: $type-xs;
    display: flex;

    &:hover {
      color: $color-blue;
      border-bottom: 1px solid $color-blue-medium;
    }

    @media (min-width: $break-sm) {
      font-size: $type-xxs;
    }
  }
  &-default {
    cursor: pointer !important;
    color: $color-blue-default;
    text-decoration: none;
    border-bottom: 1px solid $color-blue-light;
    width: auto;
    font-weight: $regular;
    font-size: $type-sm;

    &:hover {
      color: $color-blue;
      border-bottom: 1px solid $color-blue-medium;
    }
  }
  &-email {
    cursor: pointer !important;
    color: $color-blue-default;
    text-decoration: none;
    border-bottom: 1px solid $color-blue-light;
    width: auto;
    font-weight: $regular;
    font-size: $type-md;
    padding: 3px 0;

    &:hover {
      color: $color-blue;
      border-bottom: 1px solid $color-blue-medium;
    }
  }

  &-icon {
    cursor: pointer !important;
    color: $color-blue-default;
    text-decoration: none;
    width: auto;
    font-weight: $regular;
    font-size: $type-sm;
    border: none;
    padding: 0 3px 0 0;
    align-self: flex-start;
  }

  &-title {
    cursor: pointer !important;
    color: $color-white-default;
    text-decoration: none;
    display: flex;
    min-width: 200px;
    height: 35px;
    justify-content: center;
    padding: 6px;
    text-shadow: 0 0 6px $color-black;
    margin: 6px 0 6px 0;
    transition: $transition-border;

    @media (min-width: $break-lg) {
      height: 55px;
      margin: 0 12px;
      padding: 12px 6px;
    }
    @media (min-width: $break-xl) {
      height: 55px;
      margin: 12px;
    }

    &:hover {
      transition: $transition-border;

      small {
        color: transparent;
      }
      h1 {
        color: $color-white;
      }

      @media (min-width: $break-sm) {
        small {
          color: $color-white;
        }
        h1 {
          color: $color-white;
        }
      }
    }

    div {
      align-items: center;
      align-self: center;
      align-content: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;

      h1 {
        font-size: $type-h1;
        color: $color-white-default;
        padding: 0;
        margin: 0;
        @media (min-width: $break-sm) {
          font-size: $type-xxl;
        }
      }

      small {
        font-size: $type-default;
        color: transparent;
        text-shadow: none;

        @media (min-width: $break-lg) {
          color: $color-white;
          font-size: $type-xs;
          padding: 6px 0;
        }
      }
    }

    &-mid {
      @extend .link-title;
      background: transparent;
      margin: 3px 0;

      border: 2px solid transparent;
      @media (min-width: $break-sm) {
        &:hover {
          border: 2px solid $color-mid;
          background: $color-mid-slight;
        }
      }
    }
    &-blue {
      @extend .link-title;
      background: transparent;
      margin: 3px 0;

      border: 2px solid transparent;
      @media (min-width: $break-sm) {
        &:hover {
          border: 2px solid $color-blue;
          background: $color-blue-slight;
        }
      }
    }
    &-pink {
      @extend .link-title;
      background: transparent;
      border: 2px solid transparent;
      @media (min-width: $break-sm) {
        &:hover {
          border: 2px solid $color-pink-half;
          background: $color-pink-slight;
        }
      }
    }
    &-orange {
      @extend .link-title;
      background: transparent;
      border: 2px solid transparent;
      @media (min-width: $break-sm) {
        &:hover {
          border: 2px solid $color-orange;
          background: $color-orange-slight;
        }
      }
    }
    &-violet {
      @extend .link-title;
      background: transparent;
      border: 2px solid transparent;
      @media (min-width: $break-sm) {
        &:hover {
          border: 2px solid $color-violet;
          background: $color-violet-slight;
        }
      }
    }
    &-green {
      @extend .link-title;
      background: transparent;
      border: 2px solid transparent;
      @media (min-width: $break-sm) {
        &:hover {
          border: 2px solid $color-green;
          background: $color-green-slight;
        }
      }
    }
  }

  &-small {
    font-size: $type-default;
    padding: 1px 6px;
    margin: 0 3px 0 3px;
    background: $color-gray-slight;
    color: $color-gray-darker;
    border-radius: $radius-slight;
    cursor: pointer;
    transition: $transition-background;

    i {
      margin-left: 2px;
      font-size: $type-note;
      color: $color-gray;
      transition: $transition-color;
    }
    &:hover {
      transition: $transition-background;
      background: $color-gray-light;
      i {
        transition: $transition-color;
        color: $color-gray-medium;
      }
    }

    &-keyword {
      @extend .link-small;
      color: $color-white;
      background: $color-mid-default;

      i {
        color: $color-white-medium;
      }

      &:hover {
        background: $color-mid;
        i {
          color: $color-white;
        }
      }
    }

    &-urgent {
      @extend .link-small;
      background: $color-red-medium;
      color: $color-white;

      i {
        color: $color-white-medium;
      }

      &:hover {
        background: $color-red-default;
        i {
          color: $color-white;
        }
      }
    }
  }

  &-sidenav {
    @extend .link-default;
    display: block;
    text-align: left;
    padding: 6px 12px;
    color: $color-white;
    background: transparent;
    margin: 12px;

    &:hover {
      background: $color-blue-half;
      color: $color-white;
    }
  }

  &-more {
    cursor: pointer !important;
    color: $color-blue;
    font-weight: $regular;
    font-size: inherit;
    text-decoration: none;
    transition: $transition-opacity;
    opacity: 0;
    &:before {
      content: "...";
    }

    &:hover {
      color: $color-blue;
    }
  }

  &-text {
    cursor: pointer;
    color: $color-blue;
    font-size: $type-default;
    text-decoration: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid $color-brand-slight;
    transition: $transition-border;

    &:hover {
      color: $color-blue;
      border-bottom: 1px solid $color-blue-medium;
      transition: $transition-border;
    }
  }

  &-user {
    cursor: pointer !important;
    color: $color-white;
    background: $color-blue-default;
    border-radius: $radius-slight;
    display: flex;
    padding: 2px 12px;
    margin: 0 3px;
    text-decoration: none;
    width: auto;
    align-items: center;
    transition: $transition-background;
    font-size: $type-xxs;

    &:hover {
      background: $color-blue;
      transition: $transition-background;
    }
  }

  &-sidepanel {
    cursor: pointer !important;
    color: $color-white;
    display: flex;
    text-align: center;
    text-decoration: none;
    width: auto;
    transition: $transition-background;
    font-size: $type-md;
    margin-left: 24px;

    i {
      align-self: center;
    }

    &:active {
      color: $color-white-half;
    }

    &-light {
      @extend .link-sidepanel;
      z-index: $z-ultimate;
      color: $color-white;
      &:active {
        color: $color-white;
      }
    }
  }

  &-lab {
    cursor: pointer !important;
    color: $color-white;
    background: $color-gray-darkest;
    border-radius: $radius-slight;
    display: flex;
    padding: 2px 12px;
    margin: 0 3px;
    text-decoration: none;
    width: auto;
    align-items: center;
    transition: $transition-background;
    font-size: $type-xxs;

    &:hover {
      background: $color-black;
      transition: $transition-background;
    }
  }

  &-logout {
    @extend .link-user;
    background: $color-white;
    color: $color-red-medium;
    width: auto !important;
    padding: 2px 8px;
    font-size: $type-xxs;

    &:hover {
      background: $color-white;
      color: $color-red;
    }
  }

  &-dialog {
    color: $color-white;
    font-size: $type-xxs !important;
    padding: 12px;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    width: 100%;
    margin: 6px 0;
    font-weight: $regular;

    @media (min-width: $break-sm) {
      font-size: $type-xxs !important;
      line-height: $type-md;
      width: 100%;
    }

    &:hover {
      background: $color-blue-medium;
      color: $color-white;
    }
  }

  &-cart {
    color: $color-white;
    font-size: $type-default;
    border-radius: $radius-slight;
    padding: 4px;
    margin: 0 12px;
    align-self: center;
    outline: none;
    text-decoration: none;
    transition: $transition-scale;
    transform: scale(1);
    cursor: pointer;
    display: inline-block;
    position: relative;

    i {
      font-size: $type-md;
      color: $color-blue-default;
    }
  }

  &-signup {
    font-size: $type-xxs;
    justify-content: center;
    display: block;
    cursor: pointer;
    color: $color-blue;
    margin: 0 6px;
    padding: 2px 0;
    transition: $transition-background;
    border-radius: $radius-slight;
    border-bottom: 1px solid $color-blue-half;
    font-weight: $regular;

    &:hover {
      padding: 2px 6px;
      margin: 2px 0;
      color: $color-white;
      transition: $transition-color;
      background: $color-blue-default;
      border-bottom: 1px solid transparent !important;
    }
  }

  &-inert {
    text-decoration: none !important;
    color: $color-gray-darkest !important;
    border-radius: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
  }

  &-slug {
    grid-column: 1 / -1;
    display: grid;
    grid-gap: 6px;
    grid-template-columns: 45px 200px;
    align-items: center;
    color: $color-white;
    text-align: left;
    line-height: $type-default;
    text-decoration: none;

    img {
      height: 40px;
    }

    strong {
      color: $color-white;
      font-size: $type-sm;
      display: block;
      padding: 3px 0;
    }
    span {
      color: $color-white-medium;
      font-size: $type-xxs;
      display: block;
    }
  }

  &-close {
    background: transparent;
    color: $color-gray-dark;
    font-size: $type-default;
    justify-content: flex-end;
    display: flex;
    cursor: pointer;
    outline: none;
    margin-right: 24px;
    margin-top: 30px;
    transition: $transition-color;

    &:hover {
      transition: $transition-color;
      color: $color-gray-darkest;
    }
  }

  &-forgot {
    text-decoration: none;
    color: $color-blue-medium;
    font-size: $type-xxs;
    padding: 0 6px;
    margin: 0 auto;
    width: auto;
    cursor: pointer !important;

    &:hover {
      color: $color-blue-medium;
    }
  }

  &-login {
    font-size: $type-xxs;
    font-weight: $regular;
    justify-content: center;
    display: block;
    cursor: pointer;
    background: $color-blue-default;
    color: $color-white;
    padding: 2px 12px;
    border-radius: $radius-slight;
    text-decoration: none;
    margin: 0 6px;

    &:hover {
      transition: $transition-background;
      background: $color-blue;
    }
  }

  &-menu {
    cursor: pointer;
    color: $color-gray-darker;
    font-size: $type-xxs;
    margin: 0 12px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 3px 0 0 0;
    border-bottom: 1px solid transparent;

    i {
      color: $color-blue-medium;
      font-size: $type-md;
    }

    b {
      font-weight: $regular;
    }

    &:hover {
      border-bottom: 1px solid $color-blue-medium;
    }
  }

  &-signout {
    color: $color-red-medium;
    padding: 2px 6px;
    font-size: $type-default;
    border-radius: $radius-slight;
    text-decoration: none;
    float: right;

    i {
      margin-left: 3px;
      color: $color-red-half;
    }

    &:hover {
      color: $color-red-default;
      i {
        color: $color-red-default;
      }
    }
  }

  &-novel {
    background: $color-gray-darker;
    color: $color-white;
    font-size: $type-xxs;
    border-radius: $radius-slight;
    padding: 4px 6px;
    align-self: center;
    outline: none;
    text-decoration: none;
    transition: $transition-scale;
    margin-right: 12px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: $transition-color, $transition-background;

    &:hover {
      background: transparent;
      color: $color-gray-darker;
      border: 2px solid $color-gray-darker;
      transition: $transition-color, $transition-background;
    }
  }

  &-breadcrumbs {
    text-decoration: none;
    font-weight: $regular;
    padding: 2px 4px;
    background: $color-gray-note;
    border-radius: $radius-slight;
    color: $color-gray-darker !important;

    &:hover {
      color: $color-gray-darkest !important;
      background: $color-gray-slight;
    }
  }

  &-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer !important;
    padding: 10px;
    background: transparent;
    transition: $transition-background;
    margin: 0 0 30px 0;
    color: $color-gray;
    text-decoration: none;
    border-radius: $radius-slight;

    i {
      font-size: $type-md;
      transition: $transition-scale;
    }

    &:hover {
      color: $color-blue-medium;
      background: $color-blue-slight;
      transition: $transition-background;

      i {
        transform: scale(1.3);
        transition: $transition-scale;
      }
    }
  }

  &-logo {
    @extend .link-nav;
    transition: $transition-scale;

    i {
      color: $color-blue-medium;
      font-size: $type-lg;
    }

    &:hover {
      background: transparent;
      transition: $transition-scale;

      i {
        color: $color-blue-medium;
      }
    }
  }

  &-avatar {
    color: $color-gray-light;
    font-size: $type-md;
  }
}
