.login {

  &-container {
    min-height: 75vh; // height of the browser viewport
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-item {
    height: auto;
    width: 400px;
    background: $color-gray-slate;
    padding: 36px 48px;
    border-radius: $radius-slight;
    position: relative;
    text-align: center;
  }

  &-field {
    width: 100% !important;
  }

}
