.manage {
  &-header {
    display: flex;
    padding: 36px 0 24px 0;
    background: $color-background;
    position: relative;
    top: 0;
    width: 100%;
    margin: 0 auto;
    display: flex;
    // flex-direction: column;
    // border-bottom: 1px solid $color-gray-slight;
    box-shadow: 0 6px 16px 12px $color-white;
    z-index: 300;

    &-left {
      flex: 0 auto;
      align-items: center;
      min-width: 400px;

      h2 {
        font-size: $type-sm !important;
        color: $color-gray-darkest;
        background: $color-gray-light;
        padding: 0;
        margin: 3px 0 !important;
        text-transform: uppercase;
        font-weight: $regular;
      }

      h3 {
        font-size: $type-sm !important;
        color: $color-gray-darkest;
        padding: 0;
        margin: 3px 0 !important;
        text-transform: uppercase;
        font-weight: $regular;
      }

      h4 {
        font-weight: $regular;
        background: $color-white;
        font-size: $type-tiny;
        font-weight: $regular;
        color: $color-gray-darker;
        margin: 6px 0;
        width: auto;
        text-align: center;
        background: $color-gray-slight;
        padding: 2px;
        text-transform: uppercase;
      }

      h5 {
        font-size: $type-default;
        color: $color-gray-darker;
        font-weight: $regular;
        padding: 0;
        margin: 6px 0 0 0;
        width: auto;
      }
    }

    &-right {
      flex: 1;
      align-self: center;
      align-items: center;
    }
  }

  &-labs {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 140px;

    li {
      list-style: none;
      border-top: 1px solid $color-gray-light;
      grid-template-columns: 200px auto;
      grid-column: 1 / -1;
      grid-gap: 12px;
      display: grid;
      padding: 12px;
      cursor: pointer !important;
      color: $color-gray-darker;

      .icon-switch {
        visibility: hidden;
        font-size: $type-default;
          color: $color-brand;
      }

      small {
        font-size: $type-default;
        color: $color-gray-dark;
      }

      h3 {
        margin: 0;
        padding: 0;
        font-size: $type-h3;
      }

      &:hover {
        background: $color-gray-note;

        .icon-switch {
          visibility: visible;
          
        }
      }
    }
  }
}
