.MuiInputBase-input,
.MuiInput-input {
  color: $color-gray-dark !important;
  font-size: $type-md !important;
  font-family: $font-default !important;
}

.MuiSwitch-sizeSmall .MuiSwitch-thumb {
  width: 12px !important;
  height: 12px !important;
  margin-top: 2px !important;
}

.MuiSwitch-colorSecondary.Mui-checked {
  color: $color-green !important;
  box-shadow: none !important;
}

.MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
  background-color: $color-green-light !important;
}

.MuiSwitch-colorSecondary + .MuiSwitch-track {
  background-color: $color-gray-light !important;
}

.MuiInput-underline:after {
  border-bottom: 1px solid $color-blue !important;
}

.MuiInput-underline:before {
  border-bottom: 1px solid $color-gray !important;
}

.MuiInput-underline {
  // border-bottom: 0px solid $color-gray-slate !important;
}

.MuiFormLabel-root {
  color: $color-white !important;
  font-family: $font-default !important;
  justify-content: center !important;
}

.MuiPaper-root {
  // color: $color-white !important;
  font-family: $font-default !important;
}

.MuiFormControl-root {
  label {
    color: $color-gray-dark !important;
    font-size: $type-tiny !important;
    line-height: $type-sm !important;
    font-weight: $regular !important;
  }
}

.Mui-disabled {
  input:disabled {
    background-color: $color-gray-slight !important;
    color: $color-gray-dark !important;
    
  }
}
.MuiCard-root {
  padding: 12px !important;

  #dept {
    text-decoration: none !important;
    color: $color-white !important;
    cursor: pointer;
  }

}

.MuiToggleButton-label {
  font-weight: $regular !important;
  font-family: $font-default !important;
  color: $color-gray-darker !important;
  vertical-align: middle !important;
}

.MuiToggleButton-root {
  padding: 6px 12px !important;
  margin: 0 !important;
  margin-right: 12px !important;
  border: none !important;
  background: $color-gray-note !important;
  line-height: inherit !important;
  border-radius: $radius-default !important;
}

.MuiToggleButton-root:hover {
  background: $color-gray-slight !important;
}

.MuiToggleButton-root.Mui-selected {
  background-color: $color-gray-slight !important;
  .MuiToggleButton-label {
    color: $color-gray-darkest !important;
  }
}

.MuiInputLabel-root,
.MuiInputBase-root,
.MuiInput-input,
.MuiAutocomplete-root {
  color: $color-gray-darker !important;
  z-index: $z-ultimate !important;
}



.MuiInputBase-input,
.MuiInput-input {
  font-size: $type-xs !important;
}

.MuiExpansionPanelDetails-root {
  display: block !important;
  padding: 0 !important;
}

.MuiPaper-root .MuiPaper-elevation1 {
  border-radius: 0 !important;
  box-shadow: none !important;
  border: 1px solid $color-gray-medium !important;
}
// MuiExpansionPanel-root Mui-expanded MuiExpansionPanel-rounded MuiPaper-elevation1 MuiPaper-rounded

.MuiButtonBase-root .MuiExpansionPanelSummary-root {
  box-shadow: none !important;
  background: $color-gray-note !important;
  border-radius: 0 !important;
  max-height: 50px !important;
  height: 50px !important;
  min-height: 50px !important;
}

.MuiExpansionPanelSummary-root {
  max-height: 50px !important;
  box-shadow: none !important;
  height: 50px !important;
  min-height: 50px !important;
  color: $color-gray-darkest !important;
  margin: 0 !important;
  padding: 0 12px !important;
  align-items: center !important;
  display: flex !important;
  font-size: $type-sm !important;
  color: $color-blue-medium !important;

  i {
    color: $color-gray-medium;
    margin-right: 6px;
    vertical-align: middle;
  }
}

#user .MuiDrawer-paper {
  width: 100% !important;
  height: 100% !important;
  background: $color-white !important;
  box-shadow: -4px 0 10px $color-gray-slight !important;
  z-index: $z-ultimate !important;
  padding: 0 !important;
  margin: 0 !important;
  overflow: visible;

  @media (min-width: $break-sm) {
    width: 400px !important;
  }

}


.MuiListItem-root {
  width: 320px !important;
}

.MuiBackdrop-root {
  background: $color-gray-darkest !important;
  
  @media (min-width: $break-sm) {
    background: $color-gray-light !important;
  }
}

#reports .MuiFormControl-marginNormal, #filters .MuiFormControl-marginNormal, #filters .MuiFormControl-root  {
  margin-top: 0 !important;
  margin-bottom: 20px !important;
 
}



.MuiPaper-elevation8 {
  box-shadow: 4px 4px 10px $color-gray-slight !important;
  border: 1px solid transparent !important;
  border-radius: 0 !important;
  // color: $color-white !important;
  margin-top: 24px !important;
  display: inline-flex !important;
  background: $color-gray-darker !important;
  font-size: $type-xs !important;
  outline: none !important;
  padding: 0 !important;
}

.MuiStepLabel-label {
  font-family: $font-default !important;
  font-size: $type-tiny !important;
}

.MuiStepper-root {
  background: $color-background !important;
}

.MuiButtonBase-root {
}

.Mui-selected {
  background-color: $color-gray-light !important;
}

.Mui-Focused {
  color: $color-gray-darkest !important;
}
