.message {
  &-filter {
    padding: 10px 0;
    font-size: $type-default;
  }
  &-dev {
    background: $color-gray-darkest;
    color: $color-orange;
    padding: 2px 6px;
    margin: 0;
    width: auto;
    float: right;
    
    b {
      font-size: $type-tiny;
      display: block;
      font-weight: $regular;
    }
    
    small {
      display: block;
      color: $color-white;
      font-size: $type-note;
      margin: 0;
    }
  }
  &-alert {
    i {
      color: $color-gray-darkest;
    }
    span {
      color: $color-gray-darkest;
      font-weight: $bold;
    }
  }
  &-default {
    i {
      color: $color-gray-darkest;
    }
  }
}
