.nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  padding: 0 24px;
  height: 55px;
  justify-content: flex-end;
  background: linear-gradient(
    -90deg,
    $color-gray-darker,
    $color-gray-darker,
    $color-gray-darkest,
    $color-green,
    $color-mid,
    $color-blue
  );
  background-size: 400% 400%;
  animation-name: black2blue;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-play-state: running;
  z-index: $z-nav !important;

  &-left {
    display: inline-flex;
    color: $color-white;
    flex: 1;
    align-items: center;
    font-size: $type-xxs;
    font-weight: $regular;
    padding: 2px 0 3px 0;
    align-items: center;

    img {
      padding-right: 12px !important;
    }
  }

  &-right {
    display: flex;
    color: $color-white;
    font-size: $type-xxs;
    justify-content: flex-end;
    align-items: center;
    font-weight: $regular;

  }

  &-branded {
    display: flex;
    margin-top: 60px;
    padding: 0;
    height: 80px;
    justify-content: flex-end;
    background: transparent;
    z-index: $z-base !important;

    &-left {
      display: inline-flex;
      flex: 1;
      align-items: center;
      font-size: $type-sm;
      align-items: center;

      

      a {
        text-decoration: none;
        color: $color-brand-light;
        align-self: center;

        img {
          height: 65px;
          align-self: center;
          justify-content: center;

          @media (min-width: $break-sm) {
            align-self: flex-start;
          }

        }

       
        

        span {
          color: $color-brand;
          font-size: $type-md;
          line-height: 30px;
          font-family: $font-brand;
          
        }

        strong {
          font-family: $font-brand;
          color: $color-brand;
          font-size: $type-md;
          font-weight: $regular;
        }
      }
    }

    &-right {
      display: flex;
      color: $color-gray;
      align-items: center;
      font-size: $type-xs;
      justify-content: flex-end;
    }
  }

  &-public {
    @extend .nav;
    background: linear-gradient(to right, $color-gray-slate 0%, $color-gray-slate 60%,  $color-white 100%);

    &-left {
      @extend .nav-left;
      color: $color-gray-darker;
    }
    &-right {
      @extend .nav-right;
      color: $color-gray-darker;
      i {
        color: $color-gray-darker;
      }
    }
  }

  &-support {
    @extend .nav;
    background: linear-gradient(
      -90deg,
      $color-pink,
      $color-orange,
      $color-orange,
      $color-gray-slate,
      $color-white
    );

    background-size: 400% 400%;
    animation-name: black2blue;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-play-state: running;

    &-left {
      @extend .nav-left;
      color: $color-gray-darker;
      animation: dark2light;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-direction: normal;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
      animation-play-state: running;
    }
    &-right {
      @extend .nav-right;
      color: $color-gray-darker;
      animation: dark2light;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-direction: normal;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
      animation-play-state: running;
      i {
        color: $color-gray-darker;
      }
      a {
        animation: dark2light;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-direction: normal;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-play-state: running;
      }
    }
  }

  &-auth {
    @extend .nav;
    background: linear-gradient(
      -90deg,
      $color-green,
      $color-mid,
      $color-blue,
      $color-gray-darkest,
      $color-gray-darker,
      $color-gray-darker
    );
    background-size: 400% 400%;
    animation-name: black2blue;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-play-state: running;

    &-left {
      @extend .nav-left;
      color: $color-white;
    }
    &-right {
      @extend .nav-right;
      color: $color-white;
      i {
        color: $color-white;
      }
    }
  }

  &-signout {
    @extend .nav;
    background: linear-gradient(
      -90deg,
      $color-green,
      $color-mid,
      $color-blue,
      $color-gray-darkest,
      $color-gray-darker,
      $color-gray-darker
    );
    background-size: 400% 400%;
    animation-name: black2blue;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-play-state: running;

    &-left {
      @extend .nav-left;
      color: $color-white;
    }
    &-right {
      @extend .nav-right;
      color: $color-white !important;

      a {
        color: $color-white !important;
        // border-bottom: 1px solid $color-white-half !important;
      }
      i {
        color: $color-white;
      }
    }
  }

  &-activities {
    @extend .nav;
    background: linear-gradient(
      -90deg,
      $color-green,
      $color-mid,
      $color-blue,
      $color-gray-darkest,
      $color-gray-darker,
      $color-gray-darker
    );

    background-size: 400% 400%;
    animation-name: blue2black;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-play-state: running;

    &-left {
      @extend .nav-left;
      color: $color-white;
      padding: 0;
      align-self: center;
    }
    &-right {
      @extend .nav-right;
      color: $color-white;
      i {
        color: $color-white;
      }
    }
  }

  &-login {
    @extend .nav;
    background: linear-gradient(
      -90deg,
      $color-green,
      $color-mid,
      $color-blue,
      $color-gray-slate,
      $color-gray-slate,
      $color-gray-slate
    );
    background-size: 400% 400%;
    animation: black2blue;
    background-position: 100% 50%;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-play-state: running;

    &-left {
      @extend .nav-left;
      color: $color-gray-dark;
      animation: dark2light;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
      animation-direction: normal;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
      animation-play-state: running;
    }

    &-right {
      @extend .nav-right;
      color: $color-gray-dark;
      animation: dark2light;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
      animation-direction: normal;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
      animation-play-state: running;

      a {
        color: $color-white !important;
        padding: 2px 6px;
        margin: 2px 0;
        color: $color-white;
        transition: $transition-color;
        background: $color-blue-default;
        border-bottom: none;
      }
      i {
        color: $color-white;
      }
    }
  }
}
