.nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  padding: 0 12px;
  height: 55px;
  justify-content: flex-end;
  background: linear-gradient(
    -90deg,
    $color-black,
    $color-black,
    $color-black,
    $color-green,
    $color-mid,
    $color-blue
  );
  background-size: 400% 400%;
  animation-name: black2blue;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-play-state: running;
  z-index: $z-nav !important;

  &-left {
    display: inline-flex;
    color: $color-white;
    flex: 1;
    align-items: flex-start;
    font-size: $type-xxs;
    font-weight: $regular;
    padding: 2px 0 3px 0;
    align-items: center;

  }

  &-right {
    display: flex;
    color: $color-white;
    font-size: $type-xxs;
    justify-content: flex-end;
    align-items: center;
    font-weight: $regular;
  }

  &-branded {
    display: flex;
    margin-top: 80px;
    padding: 0;
    height: 80px;
    background: transparent;
    z-index: $z-base !important;

    &-left {
      display: inline-flex;
      flex: 1;
      font-size: $type-sm;

      .logo {
        top: 95px;
        div {
          a,
          strong {
            color: $color-gray-darkest;
            text-decoration: none !important;
          }
          span {
            color: $color-gray-dark;
            text-decoration: none !important;
          }
        }
      }
    }

    &-right {
      display: flex;
      color: $color-gray;
      font-size: $type-xs;
      align-self: center;
    }
  }

  &-auth {
    @extend .nav;
    background: linear-gradient(
      -90deg,
      $color-green,
      $color-mid,
      $color-blue,
      $color-black,
      $color-black,
      $color-black
    );
    background-size: 400% 400%;
    animation-name: black2blue;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-play-state: running;

    &-left {
      @extend .nav-left;
      color: $color-white;
    }
    &-right {
      @extend .nav-right;
      color: $color-white;
      i {
        color: $color-white;
      }
    }
  }

  &-activities {
    @extend .nav;
    background: linear-gradient(
      -90deg,
      $color-green,
      $color-mid,
      $color-blue,
      $color-black,
      $color-black,
      $color-black
    );

    background-size: 400% 400%;
    animation-name: blue2black;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-play-state: running;

    &-left {
      @extend .nav-left;
      color: $color-white;
      padding: 0;
      align-self: center;

      @media (min-width: $break-sm) {
        padding: 0 12px;
      }

    }
    &-right {
      @extend .nav-right;
      color: $color-white;
      align-content: center;
      align-items: center;
      align-self: center;
      padding: 0 12px;
      i {
        color: $color-white;
      }
    }
  }
}
