.list {



  &-event {
    font-size: $type-xxs;
    color: $color-gray-dark;
    margin: 12px 0;

    // #label {
    //   color: $color-brand;
    //   // background: $color-brand-slight;
    //   padding: 2px 8px;
    // }

    // #event {
    //   color: $color-brand;
    //   // background: $color-brand-light;
    //   padding: 2px 8px;
    // }
  }

  &-eval {
    font-size: $type-xs;
    margin-top: 36px;
    padding: 6px 0;
    color: $color-gray-darkest;
    border-bottom: 1px solid $color-gray;
  }

  &-programs {
    padding: 6px 12px;
    grid-column: 1 / -1;
    display: grid;
    grid-gap: 6px;
    grid-template-columns: 20px 100px minmax(220px, 220px) auto 100px 200px;
    align-items: center;
    border-bottom: 1px solid $color-gray-light;
    text-decoration: none;
    color: $color-gray-darker;

    &:first-child {
      border-top: 1px solid $color-gray-light;

    }

    &-tall {
      @extend .list-programs;
      align-items: baseline;
    }
    

    &-alert {
      @extend .list-programs;
      color: $color-red-default;

      i {
        font-size: $type-tiny !important;
      }

      &:hover {
        color: $color-red !important;
      }
    }

    b {
      font-weight: $regular;
    }

    i {
      color: $color-gray-half;
      transition: $transition-color;
      font-size: $type-xxs;
      text-align: center;
    }

    &:hover {
      background: $color-gray-note;

      // .link-list {
      //   background: $color-brand-slight;
      //   color: $color-brand;
      // }
      // .link-list-alert {
      //   background: $color-red-slight;
      //   color: $color-red;
      // }
      // .link-list-more {
      //   background: transparent;
      //   color: $color-gray-darker;
      // }

      #pass-mini,
      #neutral-mini,
      #fail-mini {
        opacity: 1;
        animation: load 0.3s;
        transition: $transition-opacity;
      }
      #pass,
      #neutral,
      #fail {
        opacity: 1;
        transition: $transition-opacity;
      }

      .link-icon {
        background: $color-blue-slight;

        i {
          color: $color-blue-medium;
        }
      }
    }
  }

  &-analytes {
    grid-column: 1 / -1;
    display: grid;
    grid-gap: 6px;
    grid-template-columns: auto;
    align-items: center;
    text-decoration: none;
    color: $color-gray-darker;
    border-bottom: 1px solid $color-gray-light;

    &:first-child {
      border-top: 1px solid $color-gray-light;
    }

    &:hover {
      background: $color-gray-note;
    }
  }

  &-results {
    grid-column: 1 / -1;
    padding: 6px;
    display: grid;
    grid-gap: 6px;
    grid-template-columns: 20px repeat(8, 1fr);
    align-items: center;
    text-decoration: none;
    color: $color-gray-dark;
    border-bottom: 1px solid $color-gray-light;
    font-size: $type-xxs;

    &-header {
      @extend .list-results;
      border-bottom: 1px solid $color-gray-half;
      background: $color-gray-note;
      color: $color-gray-darkest;
      font-size: $type-xxs;

    }
    &-marker {
      @extend .list-results;

      margin: 0;
      padding: 0;
      border-bottom: 1px solid $color-gray-medium;

      grid-gap: 0;

      li {
        padding: 5px;
        margin: 0;
      }
    }

   

    &-separator {
      @extend .list-results;
      grid-template-columns: 50% auto;
      text-align: center;
      padding: 0;
      font-size: $type-tiny;
      color: $color-gray-dark;
      border-top: 1px solid $color-gray-medium;
      border-bottom: 1px solid $color-gray-medium;
      
    }

    li {
      list-style: none;
      padding: 3px 0;
      
    }

    &:hover {
      color: $color-gray-darkest;
    }

    i {
      font-size: $type-tiny;
    }

    &-alert {
      @extend .list-results;
      color: $color-red-default;

      &:hover {
        color: $color-red;
        // background: $color-red-slight !important;
      }
    }
  }
}

.test-results {
  li {
    list-style: none;
    cursor: pointer;

    &:last-child {
      border-bottom: 1px solid $color-gray-light !important;
    }

    &:hover {
      background: $color-gray-note;

      i {
        color: $color-gray-medium;
        transition: $transition-color;
      }
    }
  }

  margin: 0;
  background: $color-white;
  padding: 0;
  z-index: 0;

  &-header {
    @extend .test-results;
    padding: 8px;
    color: $color-gray-medium;
    background: $color-white;
    border-bottom: 1px solid $color-gray;
  }

  &-block {
    display: block;
    background: $color-blue-light;
  }

  &-short {
    @extend .test-results;
    grid-template-columns: 65px 120px auto;
  }

  // hilites filterableContent react

  .hilite-filter {
    // span > span,
    // div > span > span,
    span, div > span {
      color: $color-gray-darker !important;
      border-bottom: 1px solid $color-gray !important;
      background: transparent !important;
    }

  
  }
  .hilite2 {
    // span > span,
    // div > span > span,
    span > span {
      color: $color-gray-darker !important;
      border-bottom: 1px solid $color-gray !important;
      background: transparent !important;
    }

  }
 
  // .hilite3 {
  //   // span > span,
  //   // div > span > span,

  //   .link-list > span {
  //     color: $color-gray-darker !important;
  //     border-bottom: 1px solid $color-red !important;
  //     background: transparent !important;
  //     line-height: inherit !important;
  //   }
  //   div > span {
  //     color: $color-gray-darker !important;
  //     border-bottom: 1px solid transparent !important;
  //     background: transparent !important;
  //     line-height: inherit !important;
  //   }
    

  // }


  // end hilites
}
