.support {

  margin: 0;

  &-hilite {
    h2 > span,
    p > span {
      color: $color-mid !important;
      // border-bottom: 1px solid $color-mid-half !important;
      background: $color-mid-slight !important;
      padding: 0 !important;
      font-size: inherit !important;
    }
    span > span , a > span {
      background: transparent !important;
      padding: 0 !important;
      font-size: inherit !important;
    }
  }

  p {
    font-size: $type-xs;
    line-height: $type-lg;
    padding: 6px 0 !important;
    max-width: 65%;
    font-weight: 400;
  }

  img {
    max-width: 400px;
  }

  h1 {
    font-size: $type-h1;
    color: $color-gray-darkest;
    font-weight: $light;
    padding: 0 !important;
  }
 
  h2 {
    font-size: $type-h2;
    color: $color-gray-darkest;
    font-weight: $light;
    padding: 3px 0 !important;
  }

  h3 {
    font-size: $type-h3;
    color: $color-gray-darkest;
    font-weight: $regular;
    padding: 0 !important;
  }

  em {
    color: $color-brand;
    font-style: normal;
  }
}