.__react_component_tooltip.type-dark {
  background-color: $color-gray-darker;
  opacity: 1;
  padding: 3px 4px !important;
  line-height: $type-teeny !important;
  font-size: $type-note !important;
  text-align: center !important;
  margin-top: 0px !important;
  border-radius: 2px !important;
  text-transform: uppercase !important;
  z-index: $z-ultimate !important;

  &:after {
    opacity: 1;
    border-top-color: $color-gray-darker !important;
    border-top-style: solid !important;
    border-top-width: 6px !important;
    bottom: -3px !important;
  }
}

