@import "vars";
@import "fonts";

@import "effects";
@import "flex";
@import "loaders";
@import "links";
@import "nav";
@import "material";
@import "sidepanel";
@import "tooltip";
@import "video";

html,
body {
  font-family: $font-default;
  font-size: $type-base;
  background: $color-background;
  color: $color-gray-darker;
  padding: 0;
  margin: 0;
  font-weight: $regular;
}

.publication {
  grid-column: 1 / -1;
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 125px auto;
  color: $color-gray-darkest;
  text-align: left;
  font-size: $type-default;
  text-decoration: none;
  align-items: flex-start;
  padding: 36px 0;
  border-top: 1px solid $color-gray-light;

  &:hover {
    img {
      filter: grayscale(0);
      transition: $transition-filter;
    }

  }

  h2 {
    font-size: $type-lg;
    line-height: $type-xl !important;
  }
  h4 {
    font-size: $type-md;
    line-height: $type-lg;
  }

  small {
    font-size: $type-sm;
    line-height: $type-md;
  }

  a {
    line-height: $type-sm;
    font-size: $type-sm;
  }

  img {
    width: 125px;
    height: auto;
    filter: grayscale(.4);
    transition: $transition-filter;
    
    &:hover {
      filter: grayscale(0);
      transition: $transition-filter;

    }
  }



  strong {
    color: $color-gray-darkest;
    font-size: $type-sm;
    display: block;
    padding: 3px 0;
  }
  span {
    font-size: $type-xs !important;
    line-height: $type-default !important;
  }

  &-list {
    @extend .publication;

    display: flex;
    grid-gap: 0;
  }
}

.mobile-placeholder {
  background-image: url("/img/mobius.png");
  background-size: cover;
  background-position: 25% center;
  background-repeat: no-repeat;
  width: 100% !important;
  position: absolute;
  height: 450px;
  top: 55px;
  text-align: center;
  overflow: visible;
  opacity: 1;
}

.logo {
  grid-column: 1 / -1;
  display: flex;
  grid-gap: 6px;
  grid-template-columns: 50px auto;
  align-items: flex-start;
  color: $color-white;
  text-align: left;
  position: absolute;
  line-height: $type-xs;
  margin: -50px 0 0 0;

  strong {
    color: $color-white;
    font-size: $type-copy;
    display: block;
    padding: 4px 0;
    text-decoration: none;
    text-shadow: 0 0 6px $color-black;
  }
  span {
    color: $color-white;
    font-size: $type-xxs;
    text-decoration: none;
    // display: block;
    text-shadow: 0 0 6px $color-black;
  }

  img {
    height: 55px;
    padding: 0 12px 0 0;
  }

  &-float {
    @extend .logo;
    grid-column: 1 / -1;
    display: grid;
    grid-gap: 6px;
    grid-template-columns: 65px auto;
    color: $color-white;
    text-align: left;
    position: absolute;
    line-height: $type-xxs;

    top: 60px;
    text-decoration: none;
    margin: 0 0 0 0;

    strong {
      color: $color-white;
      font-size: $type-lg;
      display: block;
      padding: 6px 0;
      text-decoration: none;
    }
    span {
      color: $color-white-medium;
      font-size: $type-xs;
      text-decoration: none;
      display: block;
      line-height: 14px;
    }

    @media (min-width: $break-lg) {
      left: 72px;
    }
  }
}

.mainmenu {
  display: flex;
  width: 100%;
  justify-content: center;
  align-self: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px 0 0 0;

  @media (min-width: $break-lg) {
    flex-direction: row;
    display: flex;
    margin: 15px 0 0 0;
  }
}

.mainmenu-overlay {
  display: flex;
  width: 100%;
  // height: 300px;
  justify-content: center;
  align-self: center;
  align-content: center;
  align-items: center;
  flex-direction: column;

  @media (min-width: $break-sm) {
    flex-direction: row;
    display: flex;
  }
}

.nav-down {
  display: flex;
  width: 100%;
  height: 50px;
  position: relative;
  top: 0px;
  bottom: auto;
  left: 0;
  right: 0;
  justify-content: center;
  align-self: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  font-size: $type-lg;

  &--off {
    @extend .nav-down;
    opacity: 0;
  }

  i {
    color: $color-white-medium;
  }

  @media (min-width: $break-sm) {
    bottom: 50px;
    top: auto;
    position: absolute !important;
  }
}

small {
  display: block;
  font-size: $type-default;
  color: $color-gray-darkest;
  span {
    color: $color-gray-dark;
  }
}

.user-list {
  padding: 0;
  margin: 0 !important;
  margin: 0;
  font-size: $type-xxs;

  b {
    font-weight: $regular;
    color: $color-gray-darker;
    display: block;
    padding: 0 !important;
    font-size: $type-xxs;
  }

  small {
    display: block;
    font-size: 8px;
    color: $color-gray-dark;
  }
}

.disabled {
  align-items: center;
  margin-right: 6px;
  color: $color-gray-half;
  span {
    color: $color-gray-dark;
  }
}

.enabled {
  color: $color-green;
  align-self: center;
  margin-right: 6px;
  span {
    color: $color-gray-dark;
  }
}

section {
  // background: $color-background;
  z-index: $z-base !important;
}

.footer {
  background: $color-gray-slate;
  color: $color-gray-dark;
  font-size: $type-teeny;
  text-align: right;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 12px;
  z-index: $z-nav;
}

strong {
  font-weight: $regular;
}

.desktop {
  display: none;

  @media (min-width: $break-sm) {
    display: flex;
  }
}

.mobile {
  display: flex;

  @media (min-width: $break-sm) {
    display: none;
  }
}

.breadcrumbs {
  font-size: $type-xxs;
  font-weight: $regular;
  margin: 12px 0 24px 0;
  color: $color-gray-darkest;

  span {
    color: $color-gray;
    padding: 0 3px;
  }

  b {
    color: $color-gray-dark;
    font-weight: $regular;
    padding: 0;
  }
}

.header {
  display: flex;
  padding: 24px 0;

  &-left {
    flex: 0 auto;
    align-items: center;

    h3 {
      font-size: $type-sm !important;
      color: $color-gray-darkest;
      padding: 0;
      margin: 0;
      text-transform: uppercase;
    }

    h4 {
      font-weight: $regular;
      background: $color-white;
      font-size: $type-tiny;
      font-weight: $regular;
      color: $color-gray-darker;
      margin: 6px 0;
      width: auto;
      text-align: center;
      background: $color-gray-slight;
      padding: 2px;
      text-transform: uppercase;
    }
  }

  &-right {
    flex: 1;
    align-self: center;
  }
}

.sidebar {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100vh;
  width: 15vw;
  margin-top: 40px;
  background: $color-gray-darkest;
}

.content {
  width: 100%;
  background: $color-white;
}

.alert,
.fail {
  color: $color-red !important;
}

.hide {
  display: none;
}

.hilite {
  div > span,
  span > span,
  b > span {
    color: $color-mid !important;
    border-bottom: 1px solid $color-mid !important;
    background: transparent !important;
    padding: 0 !important;
    font-size: inherit !important;
  }
}

label {
  color: $color-gray-medium;
  font-size: $type-note;
  display: block;
  text-transform: uppercase;
  font-weight: $regular;
  letter-spacing: 0.3px;

  strong {
    font-weight: $regular;
    color: $color-gray-darker;
  }
}

p {
  font-size: $type-base;
  color: $color-gray-darker;
}

h1 {
  font-size: $type-h1;
  color: $color-gray-darker;
  font-weight: $light;
}

h2 {
  font-size: $type-h2;
  color: $color-gray-darker;
  font-weight: $regular;
  padding: 0 !important;
  margin: 0 !important;
}

h3 {
  font-size: $type-copy;
  color: $color-gray-darker;
  font-weight: $regular;
  padding: 0 !important;
  margin: 0 !important;
  display: flex;

  @media (min-width: $break-sm) {
    font-size: $type-xs;
  }

  strong {
  }

  i {
    align-self: center;
    font-size: $type-xs;
    margin-left: 6px;
    color: $color-blue-default;
  }
}

h4 {
  font-size: $type-xxs;
  color: $color-gray-darker;
  font-weight: $regular;
  padding: 0;
  margin: 0;

  span {
    font-weight: $regular;
    background: $color-gray-light;
    font-size: $type-xxs;
    color: $color-gray-dark;
    border-radius: $radius-round;
    margin-left: 6px;
    padding: 3px 12px;
  }
}

.profile {
  h1 {
    font-size: $type-h1;
    color: $color-gray-darkest;
    padding: 3px 0;
    margin: 0;
    font-weight: $light;
  }

  h2 {
    font-size: $type-h2;
    color: $color-gray-darker;
    padding: 0;
    margin: 0;
    font-weight: $light;
  }

  @media (min-width: $break-sm) {
    grid-column: 1 / -1;
    display: grid;
    grid-gap: 12px;
    grid-template-columns: 300px auto;
    align-items: flex-start;

    h1 {
      font-size: $type-big;
      color: $color-gray-darkest;
      padding: 12px 0 6px 0;
      margin: 0;
      font-weight: $light;
    }

    h2 {
      font-size: $type-h2;
      color: $color-gray-darker;
      margin: 6px 0 !important;
      font-weight: $light;
    }
  }

  img {
    width: 100%;
    padding: 0;
  }

  &-bio {
    width: 100%;
    font-size: $type-md;
    font-weight: $light;
    line-height: $type-xl;

    @media (min-width: $break-sm) {
      font-size: $type-lg;
      font-weight: $light;
      line-height: $type-xxl;
    }
  }
}

.toggle {
  padding: 6px 12px;
  // display: flex;
  justify-content: flex-end;
  align-items: center;

  .on {
    color: $color-gray-dark;
    font-size: $type-tiny;
    &-message {
      color: $color-gray-dark;
      font-size: $type-tiny;
    }
  }
  .off {
    color: $color-gray-half;
    font-size: $type-tiny;
    &-message {
      color: transparent;
      font-size: $type-tiny;
    }
  }
}

.loader {
  font-size: $type-sm;
  display: flex;
  justify-content: center;
  height: 300px;

  i {
    align-self: center;
    font-family: $font-awesome;
    font-size: $type-sm;
    color: $color-brand;
  }

  span {
    align-self: center;
    font-size: $type-xxs;
    color: $color-gray;
    animation: pulse 1s linear infinite;
  }
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: $color-gray-slight;
  width: 4px;
}
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: $color-gray-light;

  &:hover {
    background: $color-gray-half;
  }
}

::-webkit-input-placeholder {
  color: $color-white-half;
}
:-ms-input-placeholder {
  color: $color-white-half;
}
::placeholder {
  color: $color-white-half;
}

input {
  border: none !important;
  background: $color-gray-darker !important;
  color: $color-white !important;
  padding: 6px;
  outline: none;
  border-radius: 0;
  margin-right: 12px;
  font-family: $font-default !important;
}

canvas {
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 200px);
  background-color: #222;
}

.dept {
  color: $color-white !important;
  display: inline-flex;
  text-decoration: none;
  padding: 0 4px;
  text-transform: uppercase;
  color: $color-white;
  cursor: pointer;
  margin: 0;
  font-size: $type-xxs;
  font-weight: $bold;

  &-auc {
    @extend .dept;
    background: $color-violet;
  }
  &-aub {
    @extend .dept;
    background: $color-blue;
  }
  &-fuabc {
    @extend .dept;
    background: $color-mid;
  }
  &-vu {
    @extend .dept;
    background: $color-orange;
  }
  &-uia {
    @extend .dept;
    background: $color-pink-medium;
  }

  
}

.accent {
  position: absolute;
  top: 80px;
  height: 3px;
  background: $color-green;

  &-auc {
    @extend .accent;
    background: $color-violet;
  }
  &-aub {
    @extend .accent;
    background: $color-blue;
  }
  &-fuabc {
    @extend .accent;
    background: $color-mid;
  }
  &-vu {
    @extend .accent;
    background: $color-orange;
  }
  &-uia {
    @extend .accent;
    background: $color-pink-medium;
  }
}

.card {
  display: inline-block;
  padding: 0;
  box-shadow: 0 0 6px $color-gray-note !important;
  // width: 100%;
  display: block;
  margin: 0 0 12px 0 !important;
  border-radius: 0 !important;
  border: 1px solid transparent;
  overflow: visible;
  transition: $transition-boxshadow !important;

  &:hover {
    box-shadow: 12px 12px 24px $color-gray-slight !important;
    transition: $transition-boxshadow !important;
  }

  @media (min-width: $break-sm) {
    width: auto;
    display: inline-flex;

    min-width: 200px;
    padding: 12px !important;
    margin: 0 24px 24px 0 !important;
  }

  h1 {
    font-size: $type-lg;
    color: $color-gray-darkest;
    padding: 0;
    margin: 0;
    font-weight: $light;
  }

  h2 {
    font-size: $type-md;
    color: $color-gray-darker;
    padding: 0;
    margin: 0;
    font-weight: $light;
  }

  img {
    width: 100%;
    border: 1px solid $color-gray-light;

    @media (min-width: $break-sm) {
      width: 100%;
    }
  }


  &-compact {
    
    display: block;
    padding: 12px 6px;
    border-top: 1px solid $color-gray-light;
    font-size: $type-sm;
    

    h3 {
      font-size: $type-md;
    }
    h4 {
      font-size: $type-sm;
    }

    img {
      width: 100px;
    }

    &:hover {
      background: $color-gray-note;
    }
  }
}

.home-hero {
  margin: 60px auto;
  display: block;
  padding: 0 36px;
  line-height: $type-xl;
  font-size: $type-copy;
  color: $color-black;

  h1 {
    line-height: $type-h1-height;
  }

  a {
    color: $color-blue-default;

    &:hover {
      color: $color-blue;
    }
  }

  i {
    color: $color-blue-medium;
    vertical-align: middle;
    padding: 0 3px;
    font-size: $type-tiny;
  }

  p {
    font-size: $type-copy;
    text-align: justify;

    @media (min-width: $break-sm) {
      font-size: $type-lg;
    }
  }

  strong {
    font-weight: $bold;
  }

  @media (min-width: $break-sm) {
    font-size: $type-xxs;
  }
}

.copy {
  margin: 0 auto;
  display: block;
  padding: 0 36px;
  line-height: $type-xl;
  font-size: $type-copy;
  color: $color-black;
  margin-top: 48px;
  text-align: justify;

  h1 {
    line-height: $type-h1-height;
    margin-top: 6px;
  }

  a {
    color: $color-blue-default;

    &:hover {
      color: $color-blue;
    }
  }

  i {
    color: $color-blue-medium;
    vertical-align: middle;
    padding: 0 3px;
    font-size: $type-tiny;
  }

  p,
  span {
    font-size: $type-copy;

    @media (min-width: $break-sm) {
      font-size: $type-md;
    }
  }

  strong {
    font-weight: $bold;
  }
}

.contain {
  margin: 0 auto;
  max-width: 100%;
  z-index: $z-base;

  @media (min-width: $break-sm) {
    max-width: 100%;
  }

  @media (min-width: $break-md) {
    max-width: $break-md;
  }

  @media (min-width: $break-lg) {
    max-width: $break-lg;
  }

  @media (min-width: $break-xl) {
    max-width: $break-lg;
  }

  @media (min-width: $break-xxl) {
    max-width: $break-lg;
  }
}

.case {
  &-camel {
    text-transform: capitalize;
  }
  &-upper {
    text-transform: uppercase;
  }
  &-lower {
    text-transform: lowercase;
  }
}

.nudge {
  &-xs {
    margin-bottom: 6px;
  }
  &-sm {
    margin-bottom: 10px;
  }
  &-md {
    margin-bottom: 25px;
  }
  &-lg {
    margin-bottom: 40px;
  }
  &-xl {
    margin-bottom: 65px;
  }
  &-xxl {
    margin-bottom: 85px;
  }
}
